# API server
EXPO_PUBLIC_API_URL=https://api-zilolsamarqand.unicrm.org/api

# Google Maps API key (Android APK uchun majburiy)
# https://console.cloud.google.com/ → Maps SDK for Android yoqing
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_api_key_here
